/* body */

body {
  width: 100%;
}

.Web_Content {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.Left_Sidebar {
  width: 25%;
  height: auto;
}

.Right_Content {
  -webkit-transition: 0.3s box-shadow ease;
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.Web_Footer {
  width: 100%;
  height: 130px;
}

/* content */

/* 左邊捷徑  版型  */

.search {
  width: 100%;
}

.sbox {
  width: 56%;
  height: 50%;
  margin-top: 5%;
  border-radius: 15px;
}

.sbutton {
  width: 14%;
  height: 25px;
  border-radius: 50%;
}

ul {
  /* 取消ul預設的內縮及樣式 */
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.drop-down-menu {
  margin-top: 20px;
  border: #ccc 1px solid;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.25rem;
}

ul.drop-down-menu li {
  position: relative;
  white-space: nowrap;
  border-right: #ccc 1px solid;
}

ul.drop-down-menu>li:last-child {
  border-right: none;
}



ul.drop-down-menu a {
  background-color: #fff;
  color: #333;
  display: block;
  padding: 0 30px;
  text-decoration: none;
  line-height: 40px;
}

ul.drop-down-menu a:hover {
  /* 滑鼠滑入按鈕變色*/
  background-color: #ef5c28;
  color: #fff;
}

ul.drop-down-menu li:hover>a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: #ef5c28;
  color: #fff;
}

ul.drop-down-menu ul {
  border: #ccc 1px solid;
  position: absolute;
  z-index: 101;
  left: -1px;
  top: 100%;
  min-width: 80%;
}

ul.drop-down-menu ul li {
  border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
  border-bottom: none;
}

ul.drop-down-menu li:hover>ul {
  /* 滑鼠滑入展開次選單*/
  display: block;
}

ul.drop-down-menu ul {
  /*隱藏次選單*/
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

ul.drop-down-menu li:hover>ul {
  /* 滑鼠滑入展開次選單*/
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  left: -1px;
  border-right: 5px;
}

ul.drop-down-menu li:hover>ul ul {
  /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
  left: 99999px;
}

ul.drop-down-menu ul li:hover>ul {
  /* 第二層之後的選單展開位置*/
  left: 90%;
}

/* 右邊版型 */

.tab1, .tab2, .tab3 {
  display: none;
  width: 80%;
}

.tab1:checked:nth-of-type(1)~.tab__content:nth-of-type(1) {
  opacity: 1;
  -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  text-shadow: 0 0 0;
}

.tab2:checked:nth-of-type(2)~.tab__content:nth-of-type(2) {
  opacity: 1;
  -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  text-shadow: 0 0 0;
}

.tab3:checked:nth-of-type(3)~.tab__content:nth-of-type(3) {
  opacity: 1;
  -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  text-shadow: 0 0 0;
}

.tab1:first-of-type:not(:last-of-type)+label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tab2:not(:first-of-type):not(:last-of-type)+label {
  border-radius: 0;
}

.tab3:last-of-type:not(:first-of-type)+label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab1:checked+label {
  background-color: rgb(0, 162, 255);
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}

.tab2:checked+label {
  background-color: rgb(0, 162, 255);
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}

.tab3:checked+label {
  background-color: rgb(0, 162, 255);
  box-shadow: 0 -1px 0 #fff inset;
  color: white;
  cursor: default;
  font-size: 1.5rem;
}

.tab1:checked+label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}

.tab2:checked+label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}

.tab3:checked+label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}

.tab1+label {
  font-size: 1.5rem;
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
  -webkit-box-flex: 3;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
  background-color: yellowgreen;
}

.tab2+label {
  font-size: 1.5rem;
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
  -webkit-box-flex: 3;
  flex-grow: 3;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
  background-color: yellowgreen;
}

.tab3+label {
  font-size: 1.5rem;
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
  -webkit-box-flex: 3;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
  background-color: yellowgreen;
}

.tab1+label:hover {
  background-color: #f4f4f4;
  box-shadow: 0 1px 0 #f4f4f4 inset;
  color: black;
}

.tab2+label:hover {
  background-color: #f4f4f4;
  box-shadow: 0 1px 0 #f4f4f4 inset;
  color: black;
}

.tab3+label:hover {
  background-color: #f4f4f4;
  box-shadow: 0 1px 0 #f4f4f4 inset;
  color: black;
}

.tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  border-radius: 6px;
}

/* boring stuff */

body {
  background-color: #e7e7e7;
}

.container>*:not(.tab-wrap) {
  padding: 0 80px;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "adelle", "Adelle PE", Cambria, Georgia, serif;
}

a {
  color: black;
}

.videos {
  background: WhiteSmoke;
  margin: 2rem;
  border: 1px solid Gainsboro;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}

ul li {
  list-style-type: none;
}

.videos .video-list__item {
  margin: 0.5rem 0;
}

.videos .video-list__item a {
  padding: 1rem;
  border: 1px solid transparent;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.videos .video-list__item a:hover {
  background: white;
  border: 1px solid gray;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.videos .video-list__item a .video-preview-image {
  width: 25%;
  height: 50%;
  position: relative;
}

.videos .video-list__item a .video-preview-image img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.watch {
  color: gray;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 812px;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

/* Footer */

.footer {
  background-color: rgb(223, 219, 219);
  width: 100%;
  height: 130px;
  position: absolute;
}

.footertext {
  position: relative;
  text-align: center;
  margin-top: 33px;
  margin-left: 30%;
  width: 40%;
}

@media screen and (max-width:1100px) {
  .Web_Content {
    width: 100%;
    display: block;
  }
  .Left_Sidebar {
    width: 100%;
  }
  .menu {
    margin-left: 20%;
    width: 60%;
    list-style-type: none;
  }
  .Right_Content {
    margin-left: 10%;
    max-width: 80%;
  }
  ul.drop-down-menu>li {
    float: none;
  }
}

@media screen and (max-width:850px) {
  .videos .video-list__item a .video-preview-image img {
    width: 130px;
    height: 70px;
  }
  .title {
    margin-left: 0%;
    display: none;
  }
  .footertext {
    margin-left: 15%;
    width: 70%;
  }
  .search {
    width: 90%;
    margin-left: 10%;
  }
  .videos .video-list__item a {
    display: block;
  }
  .videos .video-list__item a .video-preview-image {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .videos .video-list__item a h2 {
    font-size: 1rem;
    line-height: 2.25rem;
    width: 100%;
  }
  .videos .video-list__item a h6 {
    font-size: 0.5rem;
    width: 100%;
    padding-left: 1rem;
  }
}

@media screen and (max-width:670px) {
  .footertext {
    margin-left: 7%;
    width: 90%;
  }
}

@media screen and (max-width:670px) {
  .navba {
    width: 100%;
    height: 80px;
    display: block;
  }
  .search {
    width: 90%;
  }
}

@media screen and (max-width:550px) {
  .menu {
    margin-left: 10%;
    width: 80%;
    list-style-type: none;
  }
  .Right_Content {
    margin-left: 0%;
    max-width: 100%;
  }
  ul.pagination li a {
    padding: 8px 5px;
  }
}